.total{
    display: flex;
}
/* .total1{
width: 100px;
height: 100px;
line-height: 100;
border: 1px solid red;

} */
/* style={{
    width: '100px',
    height: '100px',
    lineHeight: '100px',
    border: '1px solid red'
}} */